header {
	padding: 2.5em 2em 0;
    position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

header h1 {
	margin: 0 auto 0 0;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 1.65em;
	line-height: 1;
	display: inline;
}

header .links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	margin: 0 1em 0 0;
}
